# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary logs & wandb
wandb/
*.log

# Datasets (do not commit large datasets)
datasets/
*.zip
*.tar.gz
*.tar

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
